@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
}

button {
  height: 70px;
  width: 250px;
  border-radius: 50px;
  border: 2px solid transparent; 
  outline: none;
  background: #013d1ae8;
  font-size: 25px;
  color: #f4f4f5f3;
  cursor: pointer;
  margin: 0 30px;
  transition: border-color 0.3s ease, font-size 0.3s ease;
}

.button-1 {
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.5),
              6px 6px 10px rgba(0,0,0,0.2);
}

.button-1:hover {
  font-size: 24px;
  border-color: #fff; 
}

.button-2 {
  font-size: 24px;
  border-color: transparent; 
  box-shadow: inset -6px -6px 10px rgba(255,255,255,0.5),
              inset 8px 8px 16px rgba(0,0,0,0.1);
}

.button-2:hover {
  font-size: 25px;
  border-color: #fff; 
}
